body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1rem;
}

p,
h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.about {
  display: flex;
  gap: 20px;
  padding: 20px;
  border: 1px rgb(206, 206, 206) solid;
  align-items: flex-start;
  line-height: 26px;
}

.photo {
  display: inline-block;
  width: 150px;
}

.quote {
    font-style: italic;
    font-size: 1.2rem;
}